:host {
  display: block;
  position: relative;
  background-color: #E5E5E5;
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
}
.card-header {
  margin-bottom: 10px;
}
polyfill-next-selector { content: '.card-header h2'; }
.card-header ::content h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}
polyfill-next-selector { content: '.card-content img'; }
.card-content ::content img {
  width: 100%;
  height: 100%;
  /*  border-radius: 50%;*/
  /*margin: 10px;*/
}
.card-shadow {
  position: initial;
}
.img-shadow {
  width: 400px;
  height: 245px;
}
core-icon-button {
  position: relative;
  top: 3px;
  right: 3px;
  color: #636363;
}

:host([mail]) #mail {
  color: #3b5998  ;
}