<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/becomemember-card/becomemember-card.html">

<polymer-element name="becomemember-list">
  <template>

    <link rel="stylesheet" href="becomemember-list.css">

    <div layout vertical center>
      <becomemember-card>
        <img src="http://www.cvdehekkesluiters.nl/app/img/becomemember.png">
        <h2>Ook lid worden?</h2>
        <p>Wil je ook lid worden van onze carnavalsvereniging? Stuur ons dan een mail met de onderstaande knop!</p>
      </becomemember-card>
    </div>
  </template>

  <script>
    Polymer({
    });
  </script>

</polymer-element>
